.advantages {
  margin-bottom: 42px;

  @media (min-width: $tablet-width) {
    margin-bottom: 71px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 26px;
  }
}

.advantages__title {
  margin: 0 0 38px;

  @media (min-width: $tablet-width) {
    margin-bottom: 72px;
  }
}

.advantages__list {
  display: grid;
  margin: 0;
  padding: 0;

  list-style: none;

  grid-row-gap: 20px;

  @media (min-width: $tablet-width) {
    grid-column-gap: 19.2%;
    grid-row-gap: 87px;
    grid-template-columns: 35% 35%;
    grid-template-rows: repeat(2, minmax(230px, auto));
  }

  @media (min-width: $desktop-width) {
    grid-column-gap: 5.6%;
    grid-template-columns: 21% 21% 21% 21%;
    grid-template-rows: minmax(230px, auto);
  }
}

.advantages__item {
  display: flex;

  @media (min-width: $tablet-width) {
    position: relative;

    flex-direction: column;
  }

  &::after {
    @media (min-width: $tablet-width) {
      content: "";
      position: absolute;
      top: 92px;
      right: 0;

      font-size: 278px;
      color: $basic-grey;

      @include oswald;
    }

    @media (min-width: $desktop-width) {
      right: 9px;
    }
  }

  &:first-child::after {
    @media (min-width: $tablet-width) {
      content: "1";
      right: 18px;
    }

    @media (min-width: $desktop-width) {
      right: 27px;
    }
  }

  &:nth-child(2)::after {
    @media (min-width: $tablet-width) {
      content: "2";
    }
  }

  &:nth-child(3)::after {
    @media (min-width: $tablet-width) {
      content: "3";
    }
  }

  &:nth-child(4)::after {
    @media (min-width: $tablet-width) {
      content: "4";
    }
  }
}

.advantages__icon {
  flex: none;
  width: 60px;
  height: 60px;
  margin-right: 20px;

  background-color: $basic-green;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 50px;

  @media (min-width: $tablet-width) {
    width: 80px;
    height: 80px;
    margin: 0 0 32px;
  }


  &--leaf {
    background-image: url("./../img/advantage-leaf@1x.png");

    @media (min-resolution: 2dppx) {
      background-image: url("./../img/advantage-leaf@2x.png");
    }
  }

  &--powder {
    background-image: url("./../img/advantage-powder@1x.png");

    @media (min-resolution: 2dppx) {
      background-image: url("./../img/advantage-powder@2x.png");
    }
  }

  &--dining {
    background-image: url("./../img/advantage-dining@1x.png");

    @media (min-resolution: 2dppx) {
      background-image: url("./../img/advantage-dining@2x.png");
    }
  }

  &--clock {
    background-image: url("./../img/advantage-clock@1x.png");

    @media (min-resolution: 2dppx) {
      background-image: url("./../img/advantage-clock@2x.png");
    }
  }
}

.advantages__text {
  margin: 0;

  color: $special-dark-grey;

  @media (max-width: $mobile-width-only) {
    padding: 2px 0 0;
  }

  @media (min-width: $tablet-width) {
    z-index: 1;

    @include font-size(16px, 24px);
  }
}
