.button {
  display: block;
  padding: 11px;

  text-align: center;
  color: $white;
  text-transform: uppercase;
  text-decoration: none;

  background-color: $basic-green;
  border: none;

  @include oswald;
  @include font-size(16px);

  @media (min-width: $tablet-width) {
    padding: 10px;
    line-height: 20px;
  }
}
