.button {
  display: block;
  padding: 11px;

  text-align: center;
  color: $white;
  text-transform: uppercase;
  text-decoration: none;

  background-color: $basic-green;
  border: none;

  @include oswald;
  @include font-size(16px);

  @media (min-width: $tablet-width) {
    padding: 10px;

    line-height: 20px;
  }

  &:hover {
    background-color: $btn-hover;
  }

  &:active {
    color: rgba($white, $opacity-active);

    background-color: $btn-hover;
  }

  &:focus {
    background-color: $btn-hover;
  }

  &--grey {
    color: $special-dark-grey;

    background-color: $basic-grey;

    &:hover {
      background-color: $basic-grey-2;
    }

    &:focus {
      background-color: $basic-grey-2;
    }

    &:active {
      color: rgba($special-dark-grey, $opacity-active);
      background-color: $basic-grey-2;
    }
  }
}
