.contacts {
  position: relative;
}

.contacts__container {
  display: flex;
  justify-content: space-between;
  padding: 29px 0 25px;

  background-color: $white;

  @media (min-width: $tablet-width) {
    padding: 64px 42px 57px 42px;

    text-align: left;
  }

  @media (min-width: $desktop-width) {
    position: absolute;

    width: 570px;
    margin-top: 95px;
    padding: 64px 90px 58px 77px;
  }
}

.contacts__invitation {
  width: 140px;
  margin: 0;

  color: $special-black;
  text-transform: uppercase;

  @include oswald;
  @include font-size(16px, 18px);

  @media (min-width: $tablet-width) {
    width: 163px;

    @include font-size(20px, 25px);
  }

  @media (min-width: $desktop-width) {
    padding-top: 2px;
  }
}

.contacts__text {
  &--lineheight {
    @media (max-width: $mobile-width-only) {
      line-height: 21px;
    }
  }
}

.contacts__address {
  margin: 0;
  padding-right: 2px;

  line-height: 20px;

  @media (min-width: $tablet-width) {
    padding: 0;

    font-size: 16px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }

  &--bottom {
    display: block;
    margin: 0;

    @media (min-width: $tablet-width) {
      margin: 20px 0 0;
    }
  }
}
