.example {
  background-color: $basic-grey-3;
}

.example__statistics-result {
  text-align: center;
  color: $black;
  text-transform: uppercase;

  @include oswald;
  @include font-size(24px);
}

.example__statistics-desc {
  text-align: center;

  @include font-size(12px);
}

.example__expenses {
  text-align: center;
  color: $black;
  text-transform: uppercase;

  @include oswald;
  @include font-size(14px, 20px);
}
