.example {
  position: relative;

  padding-bottom: 36px;

  @media (min-width: $tablet-width) {
    padding-bottom: 74px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 23px;
  }

  &::before {
    content: "";
    position: absolute;

    width: 100%;
    height: 100%;

    background-color: $basic-grey-3;

    @media (min-width: $tablet-width) {
      bottom: 0;

      max-height: 462px;
    }

    @media (min-width: $desktop-width) {
      background-color: $basic-grey;
    }
  }
}

.example__wrapper {
  position: relative;

  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.example__container {
  margin-bottom: 33px;
  padding-top: 29px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    margin-bottom: 51px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 53px;
  }
}

.example__title {
  margin: 0 0 35px;

  @media (min-width: $tablet-width) {
    margin: 0 0 64px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 146px;
  }
}

.example__desc {
  width: 99%;
  margin: 0 0 25px;

  @media (min-width: $tablet-width) {
    margin: 0 0 53px;

    @include font-size(16px, 24px);
  }

  @media (min-width: $desktop-width) {
    width: 436px;
    margin: 0 0 68px;
  }
}

.example__stats {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  text-align: center;

  @media (min-width: $desktop-width) {
    justify-content: flex-start;
  }
}

.example__stats-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 370px;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    width: 366px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 61px;
  }
}

.example__stats-item {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 124px;
  min-height: 56px;
  padding: 13px 0 7px;

  border: 1px solid $special-grey;
  border-radius: 3px;

  &:nth-child(odd):last-child {
    margin: 0 auto;
  }

  @media (min-width: $tablet-width) {
    width: 162px;
    min-height: 72px;
    padding: 15px 0 7px;
  }
}

.example__stats-result {
  display: block;
  margin-bottom: 10px;

  text-align: center;
  color: $black;
  text-transform: uppercase;

  @include oswald;
  @include font-size(24px);

  @media (min-width: $tablet-width) {
    @include font-size(30px, 37px);
  }
}

.example__stats-desc {
  position: absolute;
  top: 47px;

  max-width: 70%;
  margin: 0;
  padding: 0 5px;

  text-align: center;
  text-transform: lowercase;
  word-break: break-word;

  background-color: $basic-grey-3;

  @include font-size(12px);

  @media (min-width: $tablet-width) {
    top: 63px;

    max-width: 88%;

    background-color: $white;

    @include font-size(14px);
  }

  @media (min-width: $desktop-width) {
    background-color: $basic-grey;
  }
}

.example__expenses {
  width: 100%;
  margin: 0;

  text-align: center;
  color: $black;
  text-transform: uppercase;

  @include oswald;
  @include font-size(14px, 20px);

  @media (min-width: $tablet-width) {
    width: 175px;
    margin-left: auto;
    padding-top: 12px;

    font-size: 20px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    margin-right: auto;
    margin-left: 0;
    padding-top: 0;

    text-align: left;
  }
}

.example__sum {
  @media (min-width: $tablet-width) and (max-width: $tablet-width-max) {
    display: block;
    margin-top: 9px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 58px;
  }
}

.example__form {
  width: 100%;

  text-align: center;

  @media (min-width: $desktop-width) {
    width: 65%;
  }
}

.example__before-after {
  position: relative;

  max-width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    max-width: 708px;
  }
}

.example__image {
  display: block;
  width: 280px;
  height: 240px;
  margin: 0 0 34px;

  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    height: 510px;
    margin: 0 0 25px;
  }

  @media (min-width: $desktop-width) {
    height: 546px;
    margin: 0 0 8px;
  }
}

.example__image--before {
  position: absolute;

  width: 150px;

  background-color: $basic-grey-3;
  background-image: url("../img/before-mobile@1x.png");
  background-position: -20px;

  @media (min-width: $tablet-width) {
    width: 354px;

    background-image: url("../img/before-tablet@1x.png"),
      linear-gradient(180deg, $white 170px, $basic-grey-3 170px);
    background-position: 16px 0, 0;
  }

  @media (min-width: $desktop-width) {
    width: 381px;

    background-image: url("../img/before-desktop@1x.png"),
      linear-gradient(180deg, $white 188px, $basic-grey 188px);
  }
}

.example__image--after {
  background-image: url("../img/after-mobile@1x.png");
  background-position: -12px;

  @media (min-width: $tablet-width) {
    width: 666px;

    background-image: url("../img/after-tablet@1x.png"),
      linear-gradient(180deg, $white 170px, $basic-grey-3 170px);
    background-position: 16px 0;
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/after-desktop@1x.png"),
      linear-gradient(180deg, $white 188px, $basic-grey 188px);
  }
}

.example__img {
  width: auto;
  height: 240px;

  object-fit: cover;

  @media (min-width: $tablet-width) {
    height: 510px;
  }

  @media (min-width: $desktop-width) {
    height: 517px;
  }

  &--after {
    display: none;
  }
}

.example__controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 196px;
  margin: 0 auto;

  color: $black;
  text-transform: uppercase;

  @include oswald;
  @include font-size(16px, 20px);

  @media (min-width: $tablet-width) {
    width: 570px;

    @include font-size(20px, 30px);
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 0 auto;
  }
}

.example__button {
  margin: 0;
  padding: 0;

  text-transform: uppercase;

  background-color: transparent;
  border: none;

  @media (min-width: $tablet-width) {
    position: relative;
  }

  &:hover::after {
    border-bottom-style: solid;
  }

  &:active::after {
    height: 0;

    border-bottom: none;
  }

  &:focus,
  &:focus-within {
    &::after {
      height: 0;

      border-bottom: none;
    }
  }

  &::after {
    @media (min-width: $tablet-width) {
      content: "";
      position: absolute;
      bottom: -6px;
      left: 0;

      width: 100%;
      height: 1px;

      border-bottom: 1px dotted rgba($black, 0.4);
    }
  }
}

.example__range {
  display: inline-block;
  width: 84px;
  height: 14px;
  margin: 0 10px;
  padding: 3px 6px;

  vertical-align: middle;

  background-color: $white;
  border: 1px solid $special-grey;
  border-radius: 6px;

  @media (min-width: $tablet-width) {
    position: relative;

    width: 428px;
    height: 6px;

    background-color: $special-grey;
    border: none;
  }
}

.example__scale {
  display: block;
  width: 50%;
  height: 6px;

  background-color: $basic-green;
  border: 0;
  border-radius: 6px;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: -13px;
    left: calc(50% - 15px);

    width: 34px;
    height: 34px;

    background-color: #68b738;
    border-radius: 50%;
    box-shadow: inset 0 0 0 1px $special-grey, inset 0 0 0 13px $white, 0 1px 5px 1px $special-grey;
    cursor: pointer;
  }

  &:hover {
    @media (min-width: $tablet-width) {
      box-shadow: inset 0 0 0 1px $special-grey, inset 0 0 0 13px $white, 0 1px 6px 2px $special-grey;
    }
  }

  &:active {
    @media (min-width: $tablet-width) {
      box-shadow: inset 0 0 0 1px $basic-green, inset 0 0 0 13px $white, 0 1px 6px 2px $special-grey;
    }
  }

  &:focus {
    outline-style: auto;

    @media (min-width: $tablet-width) {
      box-shadow: inset 0 0 0 1px $basic-green, inset 0 0 0 13px $white, 0 1px 6px 2px $special-grey;
    }
  }
}
