.form {
  text-transform: uppercase;

  @include oswald;

  &__food-type {
    display: flex;
    flex-direction: column;
  }

  &__user-data {
    display: flex;
    flex-direction: column;
  }
}

.form__adds {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 565px;
  }

  @media (min-width: $desktop-width) {
    justify-content: normal;
    width: 100%;
  }
}

.form__intro {
  color: $black;
}

.form__legend {
  color: $black;
  text-transform: none;

  @include font-size(24px, 26px);
}

.form__container {
  @media (min-width: $desktop-width) {
    display: flex;
  }

  &--narrow {
    @media (min-width: $tablet-width) and (max-width: $tablet-width-max) {
      display: flex;
      width: 565px;
    }
  }
}

.form__fieldset--half-width {
  @media (min-width: $desktop-width) {
    &:first-child {
      margin-right: auto;
    }
    width: 46%;
  }
}

.form__label {
  &--data {
    display: flex;
  }

  &--user-data {
    display: flex;
  }
}

.form__label--radio {
  color: $special-dark-grey-2;
}

.form__label--checkbox {
  color: $special-dark-grey-2;

  @media (min-width: $tablet-width) {
    width: 39%;
  }

  @media (min-width: $desktop-width) {
    width: 25%;
  }
}

.form__input {
  color: $special-dark-grey;
  text-transform: uppercase;

  &--data {
    flex-grow: 1;
  }

  &--user-data {
    flex-grow: 1;
  }

  &--radio {
    display: none;
  }

  &--checkbox {
    display: none;
  }
}

.form__textarea {
  width: 100%;

  text-transform: uppercase;
}

.form__text {
  line-height: 16px;
  color: $black;
  text-transform: none;
}

.form__button {
  @media (max-width: $mobile-width-only) {
    line-height: 20px;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }
}
