.form {
  font-size: 16px;
  text-transform: uppercase;

  @include oswald;

  @media (min-width: $tablet-width) {
    padding: 0 36px 0 40px;

    @include font-size(20px, 30px);
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.form__title {
  margin: 0 0 36px;

  text-transform: none;
}

.form__intro {
  width: 82%;
  margin: 0 0 40px;

  color: $black;

  @media (max-width: $mobile-width-only) {
    font-size: 14px;
  }

  @media (min-width: $tablet-width) {
    width: 323px;
    margin: 0 0 65px;
  }
}

.form__fieldset {
  margin: 0;
  padding: 0;

  border: none;

  &--half-width {
    @media (min-width: $desktop-width) {
      width: 46.7%;

      &:first-child {
        margin-right: auto;
      }
    }
  }

  &--cat-data {
    margin-bottom: 24px;

    @media (min-width: $tablet-width) {
      margin-bottom: 71px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 0;
    }
  }

  &--program {
    position: relative;

    margin-bottom: 26px;
    padding: 27px 0;

    @media (min-width: $tablet-width) {
      margin-bottom: 76px;
      padding: 30px 28px 28px;

      border: 1px solid $basic-grey-4;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 69px;
    }

    &::after,
    &::before {
      @media (max-width: $mobile-width-only) {
        content: "";
        position: absolute;
        left: -20px;

        width: calc(100% + 40px);
        height: 1px;

        background-color: $special-grey;
      }
    }

    &::after {
      @media (max-width: $mobile-width-only) {
        bottom: 0;
      }
    }

    &::before {
      @media (max-width: $mobile-width-only) {
        top: 0;
      }
    }
  }

  &--user-data {
    margin-bottom: 27px;

    @media (min-width: $tablet-width) {
      margin-bottom: 65px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 47px;
    }
  }

  &--textarea {
    margin-bottom: 25px;

    @media (min-width: $tablet-width) {
      margin-bottom: 58px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 61px;
    }
  }

  &--checkbox {
    margin-bottom: 31px;

    @media (min-width: $tablet-width) {
      margin-bottom: 20px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 27px;
    }
  }
}

.form__container {
  @media (min-width: $desktop-width) {
    display: flex;
  }

  &--narrow {
    margin-bottom: 31px;

    @media (min-width: $tablet-width) {
      margin-bottom: 72px;
    }

    @media (min-width: $tablet-width) and (max-width: $tablet-width-max) {
      display: flex;
      width: 565px;
    }

    @media (min-width: $desktop-width) {
      align-items: center;
      margin-bottom: 81px;
    }
  }
}

.form__legend {
  position: relative;

  display: inline-block;
  max-width: 182px;
  margin: 0 0 34px;
  padding: 0;

  font-weight: normal;
  vertical-align: baseline;
  color: $black;
  text-transform: none;

  background-color: $white;

  @include font-size(24px, 26px);

  @media (min-width: $tablet-width) {
    max-width: 100%;
    margin: 0 0 76px;

    @include font-size(36px);
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 77px;
  }

  &::after,
  &::before {
    content: "";
    position: absolute;
    top: 16px;

    height: 2px;

    background-color: $basic-green;

    @media (min-width: $tablet-width) {
      top: 22px;
    }
  }

  &::after {
    right: -1840px;

    width: 1800px;

    @media (max-width: $mobile-width-only) {
      right: -1822px;
    }
  }

  &::before {
    left: -1500px;

    width: 1460px;
  }

  &--checkbox {
    @media (min-width: $tablet-width) {
      margin-bottom: 59px;
    }
  }
}

.form__label {
  display: flex;
  align-items: center;

  &--cat-data {
    display: flex;

    &:not(:last-child) {
      margin-bottom: 16px;

      @media (min-width: $tablet-width) {
        margin-bottom: 20px;
      }

      @media (min-width: $desktop-width) {
        margin-bottom: 22px;
      }
    }
  }

  &--radio {
    position: relative;

    padding-left: 45px;

    color: $special-dark-grey-2;

    @media (min-width: $tablet-width) {
      padding-left: 60px;
    }

    &:not(:last-child) {
      margin-bottom: 25px;

      @media (min-width: $tablet-width) {
        margin-bottom: 23px;
      }
    }

    &::after,
    &::before {
      content: "";
      position: absolute;

      border-radius: 50%;
    }

    &::after {
      left: 0;

      width: 30px;
      height: 30px;

      background-color: transparent;
      border: 1px solid $special-grey;

      @media (min-width: $tablet-width) {
        width: 40px;
        height: 40px;
      }
    }

    &:active {
      opacity: $opacity-active;
    }

    &:hover::after,
    &:active::after {
      border-color: $basic-grey-5;
    }
  }

  &--user-data {
    position: relative;

    display: flex;

    @media (min-width: $desktop-width) {
      width: 47%;
    }

    &:not(:last-child) {
      margin-bottom: 16px;

      @media (min-width: $tablet-width) {
        margin-bottom: 20px;
      }
    }
  }

  &--checkbox {
    position: relative;

    min-height: 35px;
    padding-left: 46px;

    color: $special-dark-grey-2;

    @media (min-width: $tablet-width) {
      width: 39%;
      padding-left: 59px;
    }

    @media (min-width: $desktop-width) {
      width: 20%;
    }

    &:not(:last-child) {
      margin-bottom: 7px;

      @media (min-width: $tablet-width) {
        margin-bottom: 37px;
      }

      @media (min-width: $desktop-width) {
        margin-right: 6.6%;
      }
    }

    &:active {
      color: rgba($special-dark-grey-2, $opacity-active);
    }

    &:active::after {
      opacity: $opacity-active;
    }

    &:hover::after {
      border-color: $basic-grey-5;
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;

      width: 30px;
      height: 30px;

      background-color: transparent;
      border: 1px solid $special-grey;


      @media (min-width: $tablet-width) {
        width: 40px;
        height: 40px;
      }
    }
  }
}

.form__input {
  min-width: 100px;
  height: 43px;
  padding: 12px 45px 12px 15px;

  color: $special-dark-grey;
  text-transform: uppercase;

  border: none;
  outline: 1px solid $basic-grey-4;

  @media (min-width: $tablet-width) {
    height: 52px;
    padding: 10px 50px 10px 18px;
  }

  @media (min-width: $desktop-width) {
    height: 50px;
  }

  &::placeholder {
    color: $special-dark-grey;
  }

  &:hover {
    outline-color: $special-grey;
  }

  &:focus {
    outline: 2px solid $special-dark-grey;
  }

  &:focus ~ .form__icon-email,
  &:focus ~ .form__icon-phone {
    fill: $basic-green;
  }

  &:invalid:focus {
    outline-color: $status-error;
  }

  &:invalid:focus ~ .form__icon-email,
  &:invalid:focus ~ .form__icon-phone {
    fill: $status-error;
  }

  &--cat-data {
    flex-grow: 1;
  }

  &--user-data {
    flex-grow: 1;
  }
}

.form__input--radio:checked + .form__label::before {
  left: 8px;

  width: 14px;
  height: 14px;

  background-color: $basic-green;

  @media (min-width: $tablet-width) {
    left: 11px;

    width: 18px;
    height: 18px;
  }
}

.form__input--radio:focus + .form__label::after {
  outline-style: auto;
  outline-color: $special-dark-grey;
}

.form__input--radio:focus:active + .form__label {
  opacity: $opacity-active;
}

.form__input--radio:disabled + .form__label {
  opacity: 0.3;
  user-select: none;
}

.form__input--checkbox:checked + .form__label--checkbox::before {
  content: "";
  position: absolute;
  top: 30%;
  left: 7px;

  width: 18px;
  height: 15px;

  background-image: url("./../img/icon-tick.svg");
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    left: 10px;
  }
}

.form__input--checkbox:focus + .form__label::after {
  outline-style: auto;
  outline-color: $special-dark-grey;
}

.form__input--checkbox:focus:active + .form__label {
  opacity: 0.3;
  user-select: none;
  color: $special-dark-grey-2
}

.form__input--checkbox:disabled + .form__label {
  opacity: 0.3;
  user-select: none;
  color: $special-dark-grey-2
}

.form__desc {
  flex-shrink: 0;
  margin-right: 13px;

  @media (min-width: $tablet-width) {
    margin-right: 18px;
  }

  &--margin {
    @media (min-width: $tablet-width) {
      margin-right: 22px;
    }
  }
}

.form__icon-email {
  position: absolute;
  top: 15px;
  right: 16px;

  @media (min-width: $tablet-width) {
    top: 18px;
    right: 17px;

    width: 20px;
    height: 14px;
  }

  @media (min-width: $desktop-width) {
    right: 21px;
  }
}

.form__icon-phone {
  position: absolute;
  top: 11px;
  right: 13px;

  @media (min-width: $tablet-width) {
    top: 16px;
    right: 17px;
  }
}

.form__food-type {
  display: flex;
  flex-direction: column;
}

.form__user-data {
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
  }
}

.form__adds {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    width: 565px;
  }

  @media (min-width: $desktop-width) {
    justify-content: normal;
    width: 100%;
  }
}

.form__textarea {
  width: 100%;
  height: 150px;
  margin: 0;
  padding: 14px 13px;

  text-transform: uppercase;

  border: none;
  outline: 1px solid $basic-grey-4;

  @media (min-width: $tablet-width) {
    height: 175px;
    padding: 15px 18px;
  }

  &::placeholder {
    color: $special-dark-grey;
  }
}

.form__text {
  font-family: "Arial", sans-serif;
  text-align: center;
  color: $black;
  text-transform: none;

  @include font-size(14px, 16px);

  @media (min-width: $tablet-width) {
    font-size: 16px;
  }
}

.form__button {
  width: 100%;
  padding: 10px 0;

  border: none;

  @media (max-width: $mobile-width-only) {
    margin-bottom: 22px;

    line-height: 20px;
  }

  @media (min-width: $tablet-width) {
    width: 50%;
    margin-right: 62px;
    padding: 16px 0;

    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 46.6%;
    margin-right: 82px;
  }
}
