.main-nav {
  position: relative;

  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.main-nav__toggle {
  position: absolute;
  top: 16px;
  right: 0;

  outline: 3px solid rgba(green, 0.5);

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav__list {
  outline: 3px solid rgba(green, 0.5);

  @media (min-width: $tablet-width) {
    display: flex;
    margin-left: auto;
  }
}

.main-nav__item {
  @media (min-width: $tablet-width) {
    &:not(:last-child) {
      margin-right: 35px;
    }
  }
}

.main-nav__link {
  display: block;
  padding-top: 22px;
  padding-bottom: 24px;

  outline: 3px solid rgba(128, 0, 128, 0.5);

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}
