.main-logo {
  display: block;
  width: 280px;
  margin: 0 auto;
  padding: 11px 90px 14px 0;

  @media (min-width: $tablet-width) {
    width: 174px;
    height: 57px;
    margin: 0;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    width: 200px;
    height: 60px;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  &:focus {
    opacity: 0.8;
  }

  &:not([href]):hover,
  &:not([href]):active {
    opacity: 1;
  }
}

.main-logo--footer {
  display: block;
  width: auto;
  height: auto;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  &:focus {
    opacity: 0.8;
  }

  &:not([href]):hover,
  &:not([href]):active {
    opacity: 1;
  }
}

.main-logo__image {
  display: block;

  &--center {
    @media (max-width: $mobile-width-only) {
      margin: 0 auto;
    }
  }
}
