.map {
  width: 100%;
  height: 362px;

  background-image: url("./../img/map-pin.png"),
    url("./../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: 33%, 135px, center;
  background-size: auto, cover;

  @media (min-resolution: 2dppx) {
    background-image: url("./../img/map-pin.png"),
      url("./../img/bg-map-mobile@2x.png");
  }

  @media (min-width: $tablet-width) {
    height: 400px;

    background-image: url("./../img/map-pin.png"),
      url("./../img/bg-map-tablet@1x.png");
    background-position: 43% 174px, center;

    @media (min-resolution: 2dppx) {
      background-image: url("./../img/map-pin.png"),
        url("./../img/bg-map-tablet@2x.png");
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("./../img/map-pin.png"),
      url("./../img/bg-map-desktop@1x.png");
    background-position: 74% 174px, center;

    @media (min-resolution: 2dppx) {
      background-image: url("./../img/map-pin.png"),
        url("./../img/bg-map-desktop@2x.png");
    }
  }
}

.map__google {
  width: 100%;
  height: 100%;

  border: none;
}
