.page-header {
  font-weight: 500;
  color: $black;
  text-transform: uppercase;

  @include oswald;

  @media (min-width: $tablet-width) {
    padding-top: 35px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    padding-top: 66px;
  }

  &--absolute {
    @media (min-width: $desktop-width) {
      position: absolute;
      z-index: 2;
    }
  }
}
