.page-header {
  font-weight: 500;
  color: $black;
  text-transform: uppercase;

  @include oswald;

  @media (min-width: $tablet-width) {
    padding-top: 35px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 66px;
  }
}
