.page-footer {
  text-align: center;

  background-color: $basic-grey;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    padding: 58px 0;
  }
}

.page-footer__logo {
  @media (max-width: $mobile-width-only) {
    padding: 39px 0 32px;

    text-align: center;
  }
}

.page-footer__socials {
  @media (max-width: $mobile-width-only) {
    padding: 22px 0;
  }

  @media (min-width: $tablet-width) {
    margin: 0 auto;
  }
}

.page-footer__copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: $mobile-width-only) {
    padding: 22px 0;
  }

  @media (min-width: $tablet-width) {
    width: 164px;
  }
}
