.page-footer {
  text-align: center;

  background-color: $basic-grey;

  @media (min-width: $tablet-width) {
    padding: 53px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 58px 0;
  }
}

.page-footer__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
  }
}

.page-footer__logo {
  @media (max-width: $mobile-width-only) {
    padding: 40px 0 31px;

    text-align: center;
  }
}

.page-footer__socials {
  @media (max-width: $mobile-width-only) {
    position: relative;

    padding: 22px 0;

    border: 1px solid $special-grey;
    border-right: 0;
    border-left: 0;
  }

  @media (min-width: $tablet-width) {
    flex-grow: 1;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto 8px;
  }
}

.page-footer__list {
  @media (min-width: $tablet-width) {
    justify-content: center;
    width: auto;
    padding-left: 15px;
  }
}

.page-footer__copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: $mobile-width-only) {
    padding: 22px 0;
  }

  @media (min-width: $tablet-width) {
    width: 164px;
  }
}
