.page-main {
  overflow: hidden;

  &--form {
    padding-top: 27px;

    @media (min-width: $tablet-width) {
      padding-top: 59px;
    }

    @media (min-width: $desktop-width) {
      padding-top: 73px;
    }
  }

  &__title {
    margin: 0 0 37px;

    @media (min-width: $tablet-width) {
      margin: 0 0 55px;
    }

    @media (min-width: $desktop-width) {
      margin: 0 0 57px;
    }
  }
}
