.products-list {
  margin: 0;
  padding: 0;

  list-style: none;

  @media (min-width: $tablet-width) {
    display: grid;

    grid-gap: 8.5%;
    grid-row-gap: 140px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, minmax(430px, auto));
  }

  @media (min-width: $desktop-width) {
    grid-column-gap: 6.66%;
    grid-row-gap: 144px;
    grid-template-columns: 20% 20% 20% 20%;
    grid-template-rows: minmax(430px, auto);
  }
}

.products-list__item {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  padding: 0 0 25px;

  @media (min-width: $tablet-width) {
    flex-direction: column;
    align-items: center;
    padding: 0 0 39px;

    background-color: $basic-grey;
  }

  &::after,
  &:first-child::before {
    @media (max-width: $mobile-width-only) {
      content: "";
      position: absolute;
      left: -20px;

      width: calc(100% + 40px);
      height: 1px;

      background-color: $basic-grey-2;
    }
  }

  &::after {
    @media (max-width: $mobile-width-only) {
      bottom: 0;
    }
  }

  &:first-child::before {
    top: 0;
  }
}

.products-list__item--add {
  flex-direction: column;
  align-items: center;
  padding: 26px 0 25px;

  text-align: center;

  background-color: $white;

  @media (min-width: $tablet-width) {
    padding: 53px 0 38px;

    border: 2px solid $basic-grey;
  }

  @media (min-width: $desktop-width) {
    padding: 50px 0 38px;
  }
}

.products-list__link {
  display: block;
  width: 75px;
  margin-bottom: 13px;

  color: $special-dark-grey-2;
  text-transform: uppercase;
  text-decoration: none;

  @include oswald;
  @include font-size(16px, 20px);

  @media (min-width: $tablet-width) {
    width: 137px;
    margin: 0 auto 21px;

    @include font-size(20px, 24px);
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto 25px;

    @include font-size(20px, 21px);
  }
}

.products-list__image {
  margin: auto 0 0;

  @media (max-width: $mobile-width-only) {
    width: 50%;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    height: 200px;
    margin: -74px 0 36px;
  }

  @media (min-width: $desktop-width) {
    margin: -80px 0 43px;
  }

  &--short {
    @media (max-width: $mobile-width-only) {
      height: 126px;
    }
  }
}

.products-list__picture {
  @media (min-width: $tablet-width) {
    margin-top: auto;
  }
}

.products-list__img {
  display: block;
  margin: auto;
  width: auto;

  @media (max-width: $mobile-width-only) {
    width: 140px;
    height: 140px;
  }

  &--small {
    @media (max-width: $mobile-width-only) {
      width: 130px;
      height: 130px;
    }
  }
}

.products-list__info {
  margin-bottom: 23px;
  padding-top: 22px;

  @media (max-width: $mobile-width-only) {
    width: 50%;
  }

  @media (min-width: $tablet-width) {
    width: 100%;
    margin-bottom: 33px;
    padding: 0 38px;

    text-align: center;
  }
}

.products-list__data {
  margin: 0;
  padding: 0;

  list-style: none;
  color: $special-dark-grey;

  @include font-size(12px, 16px);

  @media (min-width: $tablet-width) {
    font-size: 16px;
  }
}

.products-list__data-item {
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    min-height: 23px;

    border-bottom: 1px solid $special-grey;
  }

  @media (min-width: $desktop-width) {
    min-height: 25px;
  }

  &:not(:last-child) {
    @media (min-width: $tablet-width) {
      margin-bottom: 9px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 7px;
    }
  }
}

.products-list__add-item {
  position: relative;

  width: 30px;
  height: 30px;
  margin-bottom: 25px;
  padding: 0;

  background-color: inherit;
  border: none;

  @media (min-width: $tablet-width) {
    width: 60px;
    height: 60px;
    margin-bottom: 50px;
  }

  &::after,
  &::before {
    content: "";
    position: absolute;
    left: 0;

    width: 100%;
    height: 2px;

    background-color: $special-grey;
  }

  &::before {
    transform: rotate(90deg);
  }
}

.products-list__show-more {
  margin: 0 0 8px;

  color: $special-black;
  text-transform: uppercase;

  @include oswald;
  @include font-size(16px, 20px);

  @media (min-width: $tablet-width) {
    width: 140px;
    margin: 0 0 23px;

    @include font-size(20px, 22px);
  }
}

.products-list__text {
  margin: 0 0 21px;

  @include font-size(12px, 16px);

  @media (min-width: $tablet-width) {
    width: 170px;
    margin: 0 0 86px;

    @include font-size(16px, 18px);
  }
}

.products-list__button {
  flex-grow: 1;
  align-self: center;

  @media (min-width: $tablet-width) {
    flex-grow: 0;
    align-self: stretch;
    margin: 0 38px;
  }

  &--show-all {
    align-self: stretch;

    color: $special-dark-grey;

    background-color: $basic-grey;
  }
}

.products-list__data-text {
  margin: 0;

  &--letter-spacing {
    @media (max-width: $mobile-width-only) {
      letter-spacing: 0.7px;
    }
  }
}
