.program {
  display: grid;
  grid-row-gap: 20px;
  padding-bottom: 27px;

  @media (min-width: $desktop-width) {
    grid-column-gap: 80px;
    grid-template-columns: 1fr 1fr;
  }
}

.program__item {
  padding: 30px 33px 18px 20px;

  background-color: $basic-grey;
  outline: 3px solid yellow;
}

.program__title {
  font-weight: 400;
  color: $black;
  text-transform: uppercase;

  @include oswald;
  @include font-size(24px, 37px);
}

.program__link {
  color: $black;
  text-transform: uppercase;
  text-decoration: none;

  @include oswald;
  @include font-size(16px);
}
