.promo {
  margin-bottom: 22px;
  padding-top: 27px;

  font-weight: 400;
  text-align: center;
  color: $white;

  background-color: $white;
  background-image: url("../../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  outline: 3px solid yellow;

  @include oswald;

  @media (min-width: $tablet-width) {
    text-align: left;
    color: $black;

    background: none;
  }
}

.promo__header {
  font-weight: 400;

  @include font-size(36px);
}

.promo__slogan {
  text-transform: uppercase;

  @include font-size(14px);
}

.promo .promo__button {
  @include font-size(14px, 18px);
}
