.promo {
  margin-bottom: 22px;
  padding-top: 27px;

  font-weight: 400;
  text-align: center;
  color: $white;

  @include oswald;

  @media (max-width: $mobile-width-only) {
    position: relative;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    padding-top: 58px;

    text-align: left;
    color: $black;

    background: none;
  }

  @media (min-width: $desktop-width) {
    position: relative;

    min-height: 694px;
    margin-bottom: 82px;
    padding-top: 140px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;

    width: 100%;
    height: 305px;

    background-image: url("../../img/index-background-mobile@1x.jpg"),
      linear-gradient(90deg, rgba(101, 169, 60, 1) 40%, rgba(100, 166, 58, 1) 60%);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/index-background-mobile@2x.jpg"),
        linear-gradient(90deg, rgba(101, 169, 60, 1) 40%, rgba(100, 166, 58, 1) 60%);
    }

    @media (min-width: $tablet-width) {
      content: none;
    }

    @media (min-width: $desktop-width) {
      content: "";

      width: 50%;
      height: 100%;

      background-color: $special-green;
      background-image: url("../../img/index-background-desktop@1x.jpg");
      background-position: left top;
      background-size: auto;

      @media (min-resolution: 2dppx) {
        background-image: url("../../img/index-background-desktop@2x.jpg");
        background-size: cover;
      }
    }
  }
}

.promo__wrapper {
  position: relative;
  z-index: 1;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  @media (min-width: $desktop-width) {
    position: relative;

    flex-wrap: wrap;
    align-content: flex-start;
  }
}

.promo .promo__title {
  width: 250px;
  margin: 0 auto 25px;

  font-weight: 400;

  @media (max-width: $mobile-width-only) {
    @include font-size(36px);
  }

  @media (min-width: $tablet-width) {
    width: 417px;
    margin: 0 auto 41px 87px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 41px 80px;
    padding-top: 83px;
  }
}

.promo__slogan {
  margin: 0 0 28px;

  text-transform: uppercase;

  @include font-size(14px);

  @media (min-width: $tablet-width) {
    margin: 0 0 49px 88px;

    @include font-size(20px);
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 51px 80px;
  }
}

.promo__picture {
  max-width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    order: 1;
    max-width: 709px;
    height: 609px;
    margin: -83px auto 0;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 0;
    right: 250px;

    max-width: 552px;
    height: 499px;
    margin: 0 auto 0 -10px;
  }
}

.promo__img {
  display: block;
  width: auto;
  margin: 0 auto 3px;
}

.promo__button {
  @include font-size(14px, 18px);

  @media (min-width: $tablet-width) {
    z-index: 1;

    width: 244px;
    margin-left: 82px;
    padding: 17px 0;

    @include font-size(20px);
  }

  @media (min-width: $desktop-width) {
    margin-left: 80px;
  }
}
