.site-list {
  align-items: center;
  margin: 0;
  padding: 0;

  list-style: none;
  text-align: center;

  @include font-size(20px);

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    max-width: 71%;
    margin-left: auto;

    @include font-size(18px, 24px);
  }

  @media (min-width: $desktop-width) {
    max-width: 900px;

    @include font-size(20px, 30px);
  }
}

.site-list__item {
  position: relative;

  @media (min-width: $tablet-width) {
    &:not(:last-child) {
      margin-right: 35px;
    }
  }

  &::after,
  &:last-child::before {
    content: "";
    position: absolute;
    left: -7%;

    width: 114%;
    height: 1px;

    background-color: $basic-grey-2;
  }

  &::after {
    top: -1px;
  }

  &:last-child::before {
    bottom: 0;
  }
}

.site-list__link {
  display: block;
  padding-top: 22px;
  padding-bottom: 24px;

  text-align: center;
  color: $black;
  text-decoration: none;

  &:hover {
    color: $main-menu-hover;
  }

  &:active {
    color: $main-menu-active;
  }

  @media (min-width: $tablet-width) {
    padding: 0;

    text-align: left;
  }
}
