.site-list {
  align-items: center;
  margin: 0;
  padding: 0;

  list-style: none;
  text-align: center;

  @include font-size(20px);

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    max-width: 71%;
    margin-left: auto;
    padding-top: 17px;

    @include font-size(18px, 24px);
  }

  @media (min-width: $desktop-width) {
    max-width: 900px;

    @include font-size(20px, 30px);
  }
}

.site-list__item {
  position: relative;

  @media (min-width: $tablet-width) {
    margin-bottom: 15px;
  }

  &:not(:last-child) {
    @media (min-width: $tablet-width) {
      margin-right: 35px;
    }

    @media (min-width: $desktop-width) {
      margin-right: 32px;
    }
  }

  &::after,
  &:last-child::before {
    @media (max-width: $mobile-width-only) {
      content: "";
      position: absolute;
      left: -20px;

      width: calc(100% + 40px);
      height: 1px;

      background-color: $basic-grey-2;
    }
  }

  &::after {
    @media (max-width: $mobile-width-only) {
      top: -1px;
    }
  }

  &:last-child::before {
    @media (max-width: $mobile-width-only) {
      bottom: 0;
    }
  }
}

.site-list__link {
  display: block;
  padding: 23px 0;

  text-align: center;
  color: $black;
  text-decoration: none;
  word-break: break-word;

  &:hover {
    color: $main-menu-hover;
  }

  &:active {
    color: $main-menu-active;
  }

  &:focus {
    color: $main-menu-hover;
  }

  &:not([href]):hover {
    color: $black;
  }

  &:not([href])::after {
    @media (min-width: $tablet-width) {
      content: "";
      position: absolute;
      top: auto;
      bottom: -9px;
      left: 0;

      width: 100%;
      height: 2px;

      background-color: $basic-green;
    }
  }

  @media (min-width: $tablet-width) {
    padding: 0;

    text-align: left;
    letter-spacing: -0.5px;
  }
}

.site-list--desktop .site-list__link {
  @media (min-width: $desktop-width) {
    color: $main-menu-alt;

    &:not([href]):hover {
      color: $main-menu-alt;
    }

    &:not([href])::after {
      background-color: $white;
    }

    &:hover {
      color: $main-menu-alt-hover;
    }

    &:active {
      color: $main-menu-alt-active;
    }
  }
}
