.socials__list {
  display: flex;
  align-items: center;
  width: 135px;
  margin: 0 auto;
  padding: 0;

  list-style: none;

  @media (min-width: $tablet-width) {
    width: auto;
    padding-left: 20px;
  }
}

.socials__item {
  &:not(:last-child) {
    margin-right: 38px;

    @media (min-width: $tablet-width) {
      margin-right: 29px;
    }
  }
}

.socials__icon {
  display: block;
  fill: $special-grey-2;

  &:hover {
    fill: $basic-green;
  }

  &:active {
    fill: $basic-green;
    opacity: $opacity-active;
  }

  &--vk {
    width: 22px;
    height: 12px;

    @media (min-width: $tablet-width) {
      width: 29px;
      height: 17px;
    }
  }

  &--instagram {
    width: 16px;
    height: 16px;

    @media (min-width: $tablet-width) {
      width: 23px;
      height: 23px;
    }
  }

  &--facebook {
    width: 10px;
    height: 19px;

    @media (min-width: $tablet-width) {
      width: 14px;
      height: 28px;
    }
  }
}
