.title {
  font-weight: 400;
  color: $black;

  @include oswald;
  @include font-size(36px);

  @media (min-width: $tablet-width) {
    @include font-size(60px);
  }

  &--big {
    @media (max-width: $mobile-width-only) {
      line-height: 40px;
    }
  }

  &--white {
    @media (max-width: $mobile-width-only) {
      color: $white;
    }
  }
}
