.title {
  font-weight: 400;
  color: $black;

  @include oswald;
  @include font-size(36px, 40px);

  @media (min-width: $tablet-width) {
    @include font-size(60px);
  }

  &--custom-margin {
    margin: 0 0 36px;
    margin-top: -1px;//добавлено для ПП

    @media (min-width: $tablet-width) {
      margin: 0 0 55px;
      margin-top: 80px; //добавлено для ПП
    }

    @media (min-width: $desktop-width) {
      margin: 0 0 57px;
      margin-top: 97px;
    }
  }
}
