.wrapper {
  max-width: 320px;
  margin: 0 auto;

  outline: 3px solid blue;

  @media (min-width: $tablet-width) {
    max-width: 1119px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1220px;
  }
}
